* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("./img/2023_10_24_16_23_IMG_0231.JPG");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
  font-size: 4.9rem;
  font-weight: bolder;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
}
.container {
  backdrop-filter: blur(50px);
  background-color: rgba(196, 194, 194, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}
